.f{  color: rgb(66,133,244);}
.u{color: rgb(234,67,53);}
.n{color: rgb(251,189,7);}
.d{ color: rgb(110,161,246);}
.o{ color: rgb(52,168,83)}
.n{ color: rgb(66,133,244);}
.t{ color: rgb(234,67,53);}
.e{color: rgb(251,189,7); }