.f{  color: rgb(66,133,244);}
.u{color: rgb(234,67,53);}
.n{color: rgb(251,189,7);}
.d{ color: rgb(110,161,246);}
.o{ color: rgb(52,168,83)}
.n{ color: rgb(66,133,244);}
.t{ color: rgb(234,67,53);}
.e{color: rgb(251,189,7); }

.mat-card {
    box-shadow: 
    0px 2px 10px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 10px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 30px 0px rgba(0, 0, 0, 0.12);
}