
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">
      <mat-card-content fxLayoutAlign="center" style="padding: 20px 20px; font-size: 25px; font-weight: bold;" >
        <div class="f">F</div>
        <div class="u">u</div>
        <div class="n">n</div>
        <div class="d">d</div>
        <div class="o">o</div>
        <div class="n"> N</div>
        <div class="o">o</div>
        <div class="t">t</div>
        <div class="e">e</div></mat-card-content>
      <mat-card-content fxLayoutAlign="center" style="font-size: 25px;">Sign in</mat-card-content>
      <mat-card-content fxLayoutAlign="center" style="font-size: 15px; padding-bottom: 10px;">Use your Fundo Note Account</mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm"  style="padding: 20px 20px;" >
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Your Email" class="form-control" formControlName="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter Your Password" class="form-control" formControlName="Password">
        </mat-form-field>
        <div fxLayout="row" style="display: flex; justify-content: space-between;">
          <a mat-flat-button href="http://localhost:4200/register" target="_blank" style="color: rgb(14, 104, 179);">Create account</a>
          <button mat-raised-button color="primary" type="submit" (click)="loginSubmit()" fxLayout="row" fxLayoutAline="center">Login</button>
        </div>

        <div>

          <div id="g_id_onload"
     data-client_id="177715554746-jd0fidg9hc36rm3t6pljrl692f5fhbb1.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="loginWithGoogle()"
     data-auto_prompt="false">
</div >

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
        </div>
      </form>
    </mat-card>
  </div>
