<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30%">
        <mat-card-content fxLayoutAlign="center" style="padding-top: 15px; font-size: 20px; font-weight: bold;" >
            <div class="f">F</div>
            <div class="u">u</div>
            <div class="n">n</div>
            <div class="d">d</div>
            <div class="o">o</div>
            <div class="n"> N</div>
            <div class="o">o</div>
            <div class="t">t</div>
            <div class="e">e</div>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center" style="padding-top: 10px; font-size: 25px;">Reset your Password</mat-card-content>
        <mat-card-content fxLayoutAlign="center" style="padding-bottom: 10px;">Enter Password and Confirm Password </mat-card-content>
        <form fxLayoutAlign="streth" fxLayout="column" style="padding: 20px 20px;">
            <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input matInput placeholder="Enter Password">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password">
            </mat-form-field>
            <div style="display: flex; justify-content:flex-end">
                <button mat-raised-button color="primary" fxLayout="row" fxLayoutAline="center">Reset Password</button>
            </div>
        </form>
    </mat-card>
</div>