.card {
    display: flex;
    // justify-content: center;
}

mat-card {
    margin: 20px;
    border: 1px solid black;
    width: fit-content;
}

.noteContainer {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.mat-card {
    box-shadow: 
    0px 2px 10px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 10px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 30px 0px rgba(0, 0, 0, 0.12);
}

mat-card-content ,mat-nav-list{
    padding: 0px;
    border: px solid black;
}

.titleOutput , .descriptionOutput {
    width: 90%;
    display: inline;
    padding:10px;
    outline: none;
    border: none;
    display: flex;
    text-align: left;
}

.noteIconContent {
    border: 0px solid red;
}

.title {
    display: flex;
    flex-flow: row;
}

.titleOutput {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.titlePin {
    width: 25px;
    height: auto;
}

#placeholder {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.descriptionOutput {
    font-size: 15px;
}