<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30%">
    <mat-card-content fxLayoutAlign="center" style="padding-top: 20px; font-size: 20px; font-weight: bold;" >
    <div class="f">F</div>
    <div class="u">u</div>
    <div class="n">n</div>
    <div class="d">d</div>
    <div class="o">o</div>
    <div class="n"> N</div>
    <div class="o">o</div>
    <div class="t">t</div>
    <div class="e">e</div>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="center" style="padding-top: 10px; font-size: 25px;">Find your email</mat-card-content>
    <mat-card-content fxLayoutAlign="center" style="padding-bottom: 15px;">Enter your email to send recovery link</mat-card-content>
    <form fxLayoutAlign="streth" [formGroup]="forgotPasswordForm" fxLayout="column" style="padding: 20px 20px;">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" placeholder="Enter Your Email">
      </mat-form-field>
      <div style="display: flex; justify-content:flex-end">
        <button mat-raised-button color="primary" (click)="forgotSubmit()" fxLayout="row" fxLayoutAline="center">Send</button>
      </div>
    </form>
  </mat-card>
</div>